.container-form{
    display: grid; 
    grid-template-columns: 30vw 45vw; 
    grid-gap:15px;

}

 @media screen  and  (orientation: portrait) {
    .container-form{
        grid-template-columns: 90vw ;
    }
 }