#profileDisplay { 
  display: block; 
  height: 30vw;
  width: 60vw;
  margin: 0px auto;
 }
.img-placeholder {
  width: 60vw;
  color: white;
  height: 30vw;
  background: black;
  opacity: .7;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding-bottom: 5vw;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}
.alert-success{
  background: #85d429;
  padding: 10px 30px;
  border-radius: 30px;
  color: #333131;
  margin: 5vh;
}